<header class="container-fluid p-3">
    <a class="logo" href="/">
        <img src="..\..\img\department-service-2.png" alt="" style="max-height: 5em; align-self: center; ">
    </a>
    <div class="header-account" id="header_acc">
        <h6 id="header_title" style="margin-top: 7px;"></h6>
            <a id="header_btn" href="/admin/logout" type="submit" class="btn btn-outline-light" >Вихід</a>

    </div>
</header>