
    <div class="modal fade" tabindex="-1" id="addDisciplineModal" aria-labelledby="addDisciplineModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Додати нову дисципліну</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="discipline" placeholder="name@example.com">
                  <label for="floatingInput">Повна назва дисципліна</label>
                </div>
                <div class="form-floating mb-3">
                  <input id="abbreviation" type="text" class="form-control"  placeholder="name@example.com">
                  <label for="floatingInput">Скорочена назва дисципліни</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
              <button onclick="addDiscipline()" type="button" data-bs-dismiss="modal" class="btn btn-primary">Зберегти</button>
            </div>
          </div>
        </div>
      </div>
