
      <div class="modal fade" tabindex="-1" id="editProfileModal" aria-labelledby="editProfileModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Редагувати дані профілю</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <%- include('tab-adminsettings') %>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
              <button  type="button" class="btn btn-primary" >Зберегти</button>
            </div>
          </div>
        </div>
      </div>