
      
      <div class="modal fade" tabindex="-1" id="editTeacherModal" aria-labelledby="editTeacherModal" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Редагувати викладача</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="name" placeholder="name@example.com" value='value'>
                  <label for="floatingInput">Ім'я</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="text" class="form-control" id="surname" placeholder="name@example.com" value='value'>
                  <label for="floatingInput">Призвіще</label>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
              <button onclick="addGroup()"  type="button" class="btn btn-primary" data-bs-dismiss="modal">Зберегти</button>
            </div>
          </div>
        </div>
      </div>
