    <!-- u can add class .pz .gz .l for change the background || .gray for gray  -->

<div class="schedule-block pz rounded shadow-sm"> 
    <div class="first">
        <p class="text-group">281</p>
    </div>
    <div class="second">
        <p class="discipline">OOP</p>
        <p class="teacher">Нестеренко</p>
    </div>
</div>

<!-- чтоб сделать СВОБОДНУЮ АУДИТОРИЮ нужно добавить класс free, в 
    надпись discipline - 'вільна аудиторія' -->


<!-- 
<div class="schedule-block free rounded shadow-sm"> 
    <p class="discipline">Вільна аудиторія</p>
</div> -->