
                        <div class="adminsettings">
                            <div class="adminsettings-header" style="display: flex;">
                                <h2>Особистий кабінет адміністратора</h2>
                            </div>
                            <div class="adminSettings">
                                <div class="mb-3">
                                    <label for="changelogin" class="form-label">Змінити логін</label>
                                    <input type="email" class="form-control" id="changelogin" placeholder="">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="changepassword" class="form-label">Змінити пароль</label>
                                <input type="email" class="form-control" id="changepassword" placeholder="">
                            </div>
                            <button type="button" class="btn btn-primary">Зберегти зміни</button>
                            `
                        </div>