
                        <div class="adminsettings">
                            <div class="adminsettings-header teach" style="display: flex;">
                                <h2>Особистий кабінет адміністратора</h2>
                            </div>
                            <hr class="teach">
                            <div class="adminSettings">
                                <div class="mb-3 adm" >
                                    <label for="changelogin" class="form-label">Призвіще</label>
                                    <input type="email" class="form-control" id="changelogin" placeholder="aaa">
                                </div>
                                <div class="mb-3 adm" >
                                    <label for="changelogin" class="form-label">Ім'я</label>
                                    <input type="email" class="form-control" id="changelogin" placeholder="aaa">
                                </div>
                                <div class="mb-3">
                                    <label for="changelogin" class="form-label">Змінити логін</label>
                                    <input type="email" class="form-control" id="changelogin" placeholder="">
                                </div>
                                <div class="mb-3">
                                    <label for="changepassword" class="form-label">Змінити пароль</label>
                                    <input type="email" class="form-control" id="changepassword" placeholder="">
                                </div>
                            </div>
                            <button type="button" class="btn btn-primary teach">Зберегти зміни</button>
                            
                        </div>