$orange-color: #FF6700;
$platinum-color: #EBEBEB;
$silver-color: #C0C0C0;
$first-blue-color: #3A6EA5;
$second-blue-color: #004E98;
$pz: linear-gradient(254.74deg, #5a8b19 0.36%, #89a366 93.63%);
$gz: linear-gradient(254.74deg, #FF4D00 0.36%, #DEB54D 93.63%);
$lec-sampo: linear-gradient(254.74deg, #FF0000 0.36%, #7B6FFF 93.63%);

header{
    width: 100%;
    background-color: $first-blue-color;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    .header-account{
        display: flex;
        justify-content: space-between;
        align-items: center;
        h6{
            margin-right: 10px;
        }
    }
}
footer{
    width: 100%;
    background-color: $silver-color;
}
.footer{
    // height: 80px;
    background-color: #c0c0c072;
    .arrow-back{
        height: 60px;
        // background-color: #ebebeba8;
        padding: 10px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .submit-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .loading{
            display: none;
        }
    }
}
main{
    margin: 30px 0;
}
.hi-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}
._card-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttons{
        display: flex;
    }
    ._card-body{
    }
    .card-wrapper{
        border: 1px solid #eee;
        padding: 15px;
    }
    ._card{
        position: relative;
        width: 400px;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
    }
    .front{
        position: absolute;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: inherit;
        // width: 100%;
        // height: 100%;
    
    }
    .back{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        background: inherit;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
    .flipCard{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
        -ms-transform: rotateY(180deg);
        -o-transform: rotateY(180deg);
    }
    .btn{
        width: 400px;
    }
}
.schedule{
    .gz{background: $gz;
    }
    .pz{
        background: $pz;
    }
    .l{
        background: $lec-sampo;
    }
    .gray{
        filter: grayscale(100);
        -webkit-filter: grayscale(100);
}
.schedule-block{
    // background-color: $pz;
    // margin: 40px;
    padding: 5px;
    // width: 250px;
    height: max-content;
    display: flex;
    justify-content: space-around;
    p{
        margin: 0;
    }
    .text-group{
        font-weight: 900;
        font-size: 60px;
        text-align: center;
        color: rgba(255, 255, 255, 0.815);
    }
    .second{
        align-self: center;
    }
    .discipline{
        font-weight: bold;
        font-size: 39px;
        line-height: 39px;
        font-style: normal;
        text-align: center;
        color: #FFFFFF;
    }
    .teacher{
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
    }
}
.schedule-block-admin{
    background-color: $platinum-color;
    // margin: 40px;
    width: 250px;
    height: max-content;
    display: flex;
}
.schedule-table{
    tr{
        text-align: center;
    }
}
    .schedule-title{
        display: flex;
        .form-select{
            margin-left: 20px;
            width: 150px;
        }
    }

}
.admin-panel-container{
    .cards-block{
        display: none;
        flex-direction: row;
        flex-wrap: wrap;
        .card{
            width: 45%;
            margin: 1% 2%;
            
        }
    }

}