header {
  width: 100%;
  background-color: #3A6EA5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-account h6 {
  margin-right: 10px;
}

footer {
  width: 100%;
  background-color: #C0C0C0;
}

.footer {
  background-color: #c0c0c072;
}
.footer .arrow-back {
  height: 60px;
  padding: 10px;
}
.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .submit-button .loading {
  display: none;
}

main {
  margin: 30px 0;
}

.hi-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 50px 0;
}

._card-container {
  margin: 30px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._card-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._card-container ._card-body {
  max-width: 450px;
  width: 100%;
}
._card-container .card-wrapper {
  border: 1px solid #eee;
  padding: 15px;
}
._card-container ._card {
  position: relative;
  width: 400px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
._card-container .btn {
  width: 400px;
}

.schedule .gz {
  background: linear-gradient(254.74deg, #FF4D00 0.36%, #DEB54D 93.63%);
}
.schedule .pz {
  background: linear-gradient(254.74deg, #5a8b19 0.36%, #89a366 93.63%);
}
.schedule .l {
  background: linear-gradient(254.74deg, #FF0000 0.36%, #7B6FFF 93.63%);
}
.schedule .gray {
  filter: grayscale(100);
  -webkit-filter: grayscale(100);
}
.schedule .schedule-block {
  padding: 5px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.schedule .schedule-block p {
  margin: 0;
}
.schedule .schedule-block .text-group {
  font-weight: 900;
  font-size: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 0.815);
}
.schedule .schedule-block .second {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.schedule .schedule-block .discipline {
  font-weight: bold;
  font-size: 39px;
  line-height: 39px;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}
.schedule .schedule-block .teacher {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.schedule .schedule-block-admin {
  background-color: #EBEBEB;
  width: 250px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.schedule .schedule-table tr {
  text-align: center;
}
.schedule .schedule-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.schedule .schedule-title .form-select {
  margin-left: 20px;
  width: 150px;
}

.admin-panel-container .accordition-body .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.admin-panel-container .discipline-block .trash-icon {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  opacity: 60%;
}
.admin-panel-container .discipline-block .trash-icon:hover {
  opacity: 100%;
}