html {
  height: -webkit-fill-available;
}

body {
  min-height: 100vh;
  position: relative;
  min-width: 100vw;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

header {
  min-height: 6em;
  width: 100%;
  background-image: linear-gradient(67.2deg, #25d0c7 -7.5%, #a55af0 62.7%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-account h6 {
  margin-right: 1em;
}

footer {
  width: 100%;
  background-color: #C0C0C0;
  position: absolute;
  bottom: 0;
}

.footer {
  background-color: #c0c0c072;
}
.footer .arrow-back {
  height: 60px;
  padding: 10px;
}
.footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer .submit-button .loading {
  display: none;
}

main {
  padding: 20px 0;
  margin-top: 30px;
  padding-bottom: 130px;
}

.hi-container {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  min-height: 50vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}
.hi-container .second {
  height: 70%;
}
.hi-container .button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.hi-container .button:nth-child(2) {
  border-radius: 50px;
  background-image: linear-gradient(135deg, #E2B0FF 0%, #9F44D3 100%);
  -webkit-box-shadow: 0 20px 30px -6px rgba(171, 88, 219, 0.5);
          box-shadow: 0 20px 30px -6px rgba(171, 88, 219, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.hi-container .button:nth-child(1) {
  border-radius: 50px;
  background-image: linear-gradient(135deg, #81FBB8 0%, #28C76F 100%);
  -webkit-box-shadow: 0 20px 30px -6px rgba(60, 211, 128, 0.5);
          box-shadow: 0 20px 30px -6px rgba(60, 211, 128, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.hi-container .button:nth-child(4) {
  border-radius: 50px;
  background-image: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);
  -webkit-box-shadow: 0 20px 30px -6px rgba(30, 161, 255, 0.5);
          box-shadow: 0 20px 30px -6px rgba(30, 161, 255, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.hi-container .button:nth-child(5) {
  border-radius: 50px;
  background-image: linear-gradient(135deg, #FEB692 0%, #EA5455 100%);
  -webkit-box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
          box-shadow: 0 20px 30px -6px rgba(238, 103, 97, 0.5);
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: white;
}
.hi-container .button:hover {
  -webkit-transform: translatey(10px);
          transform: translatey(10px);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.hi-container .button:active {
  opacity: 0.5;
}
.hi-container .btn-2 {
  -webkit-transform: translateX(-110px);
          transform: translateX(-110px);
  background-image: linear-gradient(135deg, #E2B0FF 0%, #9F44D3 100%) !important;
}
.hi-container .btn-2:hover {
  transform: translateX(-110px) translateY(10px);
  -webkit-transform: translateX(-110px) translateY(10px);
  -moz-transform: translateX(-110px) translateY(10px);
  -ms-transform: translateX(-110px) translateY(10px);
  -o-transform: translateX(-110px) translateY(10px);
}

._card-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._card-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
._card-container ._card-body {
  max-width: 350px;
  width: 100%;
  margin: 30px;
}
._card-container .card-wrapper {
  border: 1px solid #eee;
  padding: 15px;
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
._card-container ._card {
  position: relative;
  width: 400px;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}
._card-container .btn {
  width: 400px;
}

.schedule .gz {
  background: linear-gradient(254.74deg, #FF4D00 0.36%, #DEB54D 93.63%);
}
.schedule .pz {
  background: linear-gradient(254.74deg, #5a8b19 0.36%, #89a366 93.63%);
}
.schedule .l {
  background: linear-gradient(254.74deg, #FF0000 0.36%, #7B6FFF 93.63%);
}
.schedule .free {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #eeaeca;
  background: radial-gradient(circle, #e9c6d5 10%, #bbd1eb 100%);
}
.schedule .gray {
  filter: grayscale(100);
  -webkit-filter: grayscale(100);
}
.schedule .schedule-block {
  padding: 5px;
  min-width: 20em;
  width: 100%;
  max-width: 400px;
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.schedule .schedule-block p {
  margin: 0;
}
.schedule .schedule-block .text-group {
  font-weight: 900;
  font-size: 60px;
  font-size: 5em;
  text-align: center;
  color: rgba(255, 255, 255, 0.815);
}
.schedule .schedule-block .second {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.schedule .schedule-block .discipline {
  font-weight: bold;
  font-size: 39px;
  line-height: 39px;
  font-size: 2.5em;
  font-style: normal;
  text-align: center;
  color: #FFFFFF;
}
.schedule .schedule-block .teacher {
  font-weight: bold;
  font-size: 20px;
  font-size: 1.5em;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}
.schedule .schedule-block .form {
  height: inherit;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.schedule .schedule-block td {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.schedule .schedule-block-admin {
  background-color: #EBEBEB;
  width: 20em;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.schedule .schedule-table tr {
  text-align: center;
}
.schedule .schedule-table .td {
  height: 100%;
  min-height: 100%;
}
.schedule .schedule-table form {
  height: inherit;
}
.schedule .schedule-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.schedule .schedule-title .form-select {
  margin-left: 20px;
  width: 150px;
}

.admin-panel-container .accordition-body .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.trash-icon {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  opacity: 60%;
}
.trash-icon:hover {
  opacity: 100%;
}