$orange-color: #FF6700;
$platinum-color: #EBEBEB;
$silver-color: #dadada;
$first-blue-color: #3A6EA5;
$second-blue-color: #004E98;
$pz: linear-gradient(254.74deg, #5a8b19 0.36%, #89a366 93.63%);
$gz: linear-gradient(254.74deg, #FF4D00 0.36%, #DEB54D 93.63%);
$lec-sampo: linear-gradient(254.74deg, #FF0000 0.36%, #7B6FFF 93.63%);
html{
    height: -webkit-fill-available;
}
body{
    min-height: 100vh;
    position: relative;
    min-width: 100vw;
    width: max-content;
}
header{
    min-height: 6em;
    width: 100%;
    // z-index: 14;
    background-image: linear-gradient( 67.2deg,  rgba(37,208,199,1) -7.5%, rgba(165,90,240,1) 62.7% );
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    .header-account{
        display: flex;
        justify-content: space-between;
        h6{
            margin-right: 1em;
        }
    }
}
footer{
    width: 100%;
    background-color: $silver-color;
    position: absolute;
    bottom: 0;
    // width: 100%;
    // margin-top: 100px;
}
.footer{
    // height: 80px;
    background-color: #c0c0c072;
    .arrow-back{
        height: 60px;
        // background-color: #ebebeba8;
        padding: 10px;
    }
    .footer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .submit-button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .loading{
            display: none;
        }
    }
}
main{
    padding: 20px 0;
    // margin-top: 30px;
    padding-bottom: 4em; 
}
.hi-container{
    // width: 100%;
    height: 70vh;
    display: flex;
    padding:0 10px ;
    // flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

    .second{
        height: 70%;
    }

    @mixin createButton($width, $height, $radius, $gradientFirst, $gradientThird, $shadowColor)
    {
      border-radius: $radius;
      background-image: linear-gradient( 135deg, $gradientFirst 0%, $gradientThird 100%);
      box-shadow: 0 20px 30px -6px $shadowColor;
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 24px;
      color: white;
      font-weight: 600;

    }
    

    .button{
        transition: all .3s ease-in-out;
        &:nth-child(3){
          @include createButton(150px, 60px, 50px,#E2B0FF,#9F44D3, rgba(171,88,219,0.5));
        }
        &:nth-child(2){
          @include createButton(150px, 60px, 50px,#81FBB8,#28C76F, rgba(60,211,128,0.5));
        }
        &:nth-child(1){
          @include createButton(150px, 60px, 50px,#abdcff75,#0396FF, rgba(30,161,255,0.5));
        }
        &:nth-child(5){
          @include createButton(150px, 60px, 50px,#FEB692,#EA5455, rgba(238,103,97,0.5));
        }
        &:hover{
          transform:translatey(10px);
          box-shadow: none;
        }
        &:active{
          opacity: 0.5;
        }
    }
    .btn-2{
        transform: translateX(-110px);


   
        &:hover{
      transform: translateX(-110px) translateY(10px);
      -webkit-transform: translateX(-110px) translateY(10px);
      -moz-transform: translateX(-110px) translateY(10px);
      -ms-transform: translateX(-110px) translateY(10px);
      -o-transform: translateX(-110px) translateY(10px);

}


    }
    
}
._card-container{
    // margin: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .buttons{
        display: flex;
    }
    ._card-body{
        max-width: 350px;
        width: 100%;
        margin: 30px;
    }
    .card-wrapper{
        border: 1px solid #eee;
        padding: 15px;
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    ._card{
        position: relative;
        width: 400px;
        height: 100%;
        transform-style: preserve-3d;
        transition: all 0.8s ease;
        -webkit-transition: all 0.8s ease;
        -moz-transition: all 0.8s ease;
        -ms-transition: all 0.8s ease;
        -o-transition: all 0.8s ease;
    }
    .btn{
        width: 400px;
    }
}
.schedule{
    .gz{background: $gz;
    }
    .pz{
        background: $pz;
    }
    .l{
        background: $lec-sampo;
    }
    .free{
        align-items: center;
        background: rgba(238, 174, 202, 0.755);
        background: radial-gradient(circle, rgba(233, 198, 213, 0.755) 10%, rgb(187, 209, 235) 100%);
    }
    .gray{
        filter: grayscale(100);
        -webkit-filter: grayscale(100);
}
.schedule-container{
    background: white;
}
.schedule-block{
    // margin: 10px;
    min-width: 20em;
    width: 100%;
    min-height: 130px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    p{
        margin: 0;
    }
    .text-group{
        font-weight: 900;
        // font-size: 60px;
        font-size: 50ex;
        line-height: 1em;
        text-align: center;
        color: rgba(255, 255, 255, 0.915);
    }
    .second{
        align-self: center;
    }
    .discipline{
        font-weight: bold;
        // font-size: 39px;
        line-height: 1em;
        font-size: 20ex;
        font-style: normal;
        text-align: center;
        color: #FFFFFF;
    }
    .teacher{
        font-weight: bold;
        // font-size: 20px;
        font-size: 10ex;
        text-align: center;
        color: #FFFFFF;
    }
    form{
        height: 100%;
    }
    td{
        justify-content: center;
        display: flex;
    }
}
.schedule-block-admin{
    background-color: $platinum-color;
    //margin: 40px;
    width: 20em;
    height: max-content;
    display: flex;
}
.time{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: rgb(111, 111, 111);
    
.clock {
    // padding: 1em;
    height: 5vh;
    font-size: 5vh;
    // font-family: sans-serif;
    line-height: 5vh;
    display: flex;
    position: relative;
    /*background: green;*/
    overflow: hidden;
  }
  
  .clock::before, .clock::after {
    content: '';
    width: 5ch;
    height: 1vh;
    position: absolute;
    z-index: 2;
  }
  
  .clock::after {
    bottom: 0;
  }
  
  .clock > div {
    display: flex;
  }
  
  .tick {
    line-height: 4vh;
  }
  
  .tick-hidden {
    opacity: 0;
  }
  
  .move {
    animation: move linear 1s infinite;
  }
  
  @keyframes move {
    from {
      transform: translateY(0vh);
    }
    to {
      transform: translateY(-5vh);
      -webkit-transform: translateY(-5vh);
      -moz-transform: translateY(-5vh);
      -ms-transform: translateY(-5vh);
      -o-transform: translateY(-5vh);
}
  }
  
  
}
.schedule-table{
    table{
        height: 95vh;
        width: 100vw;
    }
    tr{
        text-align: center;
    }
    .td{
        height: 100%;
        min-height: 100%;
    }
    form{
        height: 100%;
        padding-block-start: .5em;
        padding-block-end: .5em;
        padding: .5em;
    }
    th{
        font-size: 15ex;
        font-weight: 900;
        text-align: center;
        padding: 0 !important;
    }
    thead{
        th{
        }
    }
    tbody{
        th{
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
        }
        th>div{
            min-height: 130px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
    .schedule-title{
        display: flex;
        .form-select{
            margin-left: 20px;
            width: 150px;
        }
    }

}
.admin-panel-container{
    .accordition-body{
        .block{
            display: flex;
            
        }
    }
    .discipline-block{
        tr{
            // display: flex;
        }
    }
}

.trash-icon{
    transition: .3s ease;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    opacity: 60%;
    &:hover{
        opacity: 100%;
    }
}
.classRegister-student, .classRegister-student{
    
// table {
//     border-collapse: collapse;
//     border:black 1px;
//     border-spacing: 1px; /* Расстояние между ячейками */
// }
// td, th {

//     padding: 5px; /* Поля вокруг текста */
//     border: 1px solid black; /* Параметры рамки */

// }
// .cadets-table{
//     margin-top: 20px;
//     margin-left: 15px;
// }
// #triangle-topright {    
//     width: 0;
//     height: 0;
//     border-top: 70px solid #5F9EA0;
//     border-left: 145px solid transparent;
//     position: absolute;
//   }
//   #triangle-bottomleft {
//     width: 0;
//     height: 0;    
//     border-bottom: 70px solid #cecece;
//     border-right: 145px solid transparent;
//   }
//   .lesontable{
//       /* padding-top: 25px; */
//       padding-left: 10px;
//   }
//   .lesontable2{
//       padding-left: 55px;
//   }
//   .thclass{
//       margin: 0px;
//       padding: 0px;
//   }


}
.cadets-table-new{

}
.chart {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}