<header class="container-fluid p-3">
    <a class="logo" href="/">
        <img src="..\img\department-service.png" alt="" style="max-width: 130px;">
    </a>
    <div class="header-account" id="header_acc">
        <h6 id="header_title" >Ви не увійшли</h6>
        <a id="header_btn" href="/" type="button" class="btn btn-light">На головну</a>
    </div>
</header>