<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>DepartmentService</title>
</head>
<body>
<div class="wrapper"  >
<%- include('view-blocks/header') %>
    <main style="padding: 0 !important; margin: 0 !important;">
        <div class="hi">
            <div class="container-fluid">
                <div class="hi-container">

                    <div class="first" style="margin-right:5vw;">
                        <div class="_card-container" style="padding: 3em;">
                            <form action="/logIn" method="post">
                                <div class="_card-body back">
                                    <div class="card-wrapper shadow-sm rounded">
                                        <% if (messages.error) { %>
                                            <h5 style="text-align: center; color: red"><%= messages.error %></h5>
                                        <% } else { %>
                                            <h5 style="text-align: center;">Авторизуйтесь</h5>
                                            <% } %>
                                        <div class="input-group flex-nowrap">
                                            <input name="username" type="text" class="form-control m-1" placeholder="Логін"
                                                   aria-label="Username" aria-describedby="addon-wrapping">
                                        </div>
                                        <div class="input-group flex-nowrap">
                                            <input name="password" type="password" class="form-control m-1" placeholder="Пароль"
                                                   aria-label="Password" aria-describedby="addon-wrapping">
                                        </div>
                                        <div class="buttons">
                                            <a type="button" href="/guest" style="display: none;"
                                               class="btn btn-outline-primary btn-lg m-1 flip-btn">Увійти як гість</a>
                                            <input type="submit" class="btn button btn-lg m-1 flip-btn"
                                                   value="Авторизуватись">
                                        </div>

                                    </div>
                                </div>
                            </form>
    
                        </div>
                    </div>
                    <div class="second" style="
                    display: flex; align-items: center; position: relative;">
                        <div class="img" style="position: absolute;  margin-left: 0vw;">
                            <img src="..\img\4894122.png" alt="" style="width: 100%;">
                        </div>
                        <a href="\guest" class="btn-lg button btn btn-2 " style="z-index: 2; margin-top: 5.5em;">
                            Або увійти як гість та оглянути розклад <svg width="24" height="24" fill="white" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z"/></svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>
<%- include('view-blocks/footer') %>
</div>
<script>
    // const card = document.getElementById("card");
    // function onfront(){
    //     card.classList.toggle("flipCard");
    // }
    document.getElementById("header_acc").style.display = "none";
</script>
</body>
</html>