<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="..\style\style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>DepartmentService</title>
</head>
<body>
    <%- include('header') %>
    <div class="wrapper">
        <main class="schedule">
            <section class="schedule-title container-fluid">
                <h2>Розклад занять кафедри на</h2>
                <select class="form-select" aria-label="Default select example">
                    <option selected>сьогодні</option>
                    <option value="1">завтра</option>
                    <option value="2">післязавтра</option>
                  </select>
            </section>
            <div class="schedule container-fluid">
                <div class="schedule-container">
                    <%- include('scheduleTable.ejs') %>
                </div>
            </div>
        </main>
    </div>
    <%- include('footer') %>

</body>
<script>
    document.getElementById("header_title").innerHTML = "Ви увійшли як адміністратор";
</script>
</html>
