<div class="schedule-block rounded shadow-sm">
    <div class="first">
        <p class="text-group">281</p>
    </div>
    <div class="second">
        <p class="discipline">OOP</p>
        <p class="teacher">Bovda</p>
    </div>
</div>